/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$header-family-base: 'Merriweather', Georgia, 'Times New Roman', serif;
$font-size-base: 140%;
$line-height-base: 1.5;

$browser-context: 16; // Default for mixin px to em converter

/**
 * Colors
 */

$main-brand-color: red;

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;


/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;